
body, html{
    max-height: 100vh;
}

#sidebar-data{
    background-color: rgba(122,122,122,0.31);
    height: 100vh;
}

.nopul {
    padding: 0;
    list-style-type: none;
}

.icon-color {
	color: white;
}

.sidebar{
    border-right: 1px solid black;
}

.btm-border{
    border-bottom: 1px solid black;
}

#patient-data{
    border-bottom: 1px solid black;
}

#more-info-button:hover{
    cursor: pointer;
    opacity: 0.5;
}

#logout:hover{
    cursor: pointer;
    opacity: 0.5;
}